<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>장소</title>
</head>
<body>
<div class="space-y-4 py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
        <span id="placeTitle">This is place detail page.</span>
    </h2>
    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg mt-4">
        <table id="placeTable" class="min-w-full divide-y divide-gray-200">
            <tbody class="bg-white divide-y divide-gray-200">
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">장소 유형</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><span id="placeType">?</span></td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">장소 이름</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><span id="placeName">?</span></td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">주소</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><span id="address">?</span></td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">전화번호</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><span id="phoneNumber">?</span></td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">수용 인원</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><span id="capacity">?</span></td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><label for="memo">메모</label></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><textarea id="memo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" readonly></textarea></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right w-full max-w-md mt-4">
        <a id="backToPlaces" type="button" class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded">취소</a>
    </div>
</div>
</body>
</html>
